- All test results

![alt text](image-6.png)
![alt text](image-7.png)
![alt text](image-8.png)

- test_moderation_result.py

![alt text](image.png)

- test_text_agent.py

![alt text](image-1.png)

- test_image_agent.py

![alt text](image-2.png)

- test_video_agent.py

![alt text](image-3.png)

- test_audio_agent.py

![alt text](image-4.png)

- test_gradio_app.py

![alt text](image-5.png)

## Eval

- Eval text
![alt text](image-9.png)
![alt text](image-10.png)

- Eval Image
![alt text](image-11.png)
![alt text](image-12.png)

- Eval Audio
![alt text](image-13.png)
![alt text](image-14.png)

- Eval Video
![alt text](image-15.png)
![alt text](image-16.png)

## Running The Applicaiton

![alt text](image-17.png)
![alt text](image-18.png)
![alt text](image-20.png)
![alt text](image-21.png)
![alt text](image-22.png)
![alt text](image-23.png)
![alt text](image-24.png)
![alt text](image-25.png)
![alt text](image-26.png)


